[Unit]
Description=clean calc
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /root/clean-calc/main.py
WorkingDirectory=/root/clean-clac

[Install]
WantedBy=multi-user.target
